body {
    background:lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background:lightpink;
    padding: 20px;
    width: 75%;
    margin: auto; /*center horizontally*/
}
h1 {
    color: darkolivegreen;
}
li {
    list-style-type: none;
    display: inline-block;
}