body{
  font-family: fantasy;
  background: black;
}
.title{
  text-align: center;
  color: #3F315A;
  font-size: 75px;
}
a{
  text-decoration: none;
  color: black;
}
/*Scrolling Background*/
.margin {
  margin: 0;
}
.parallax{
  background: url("images/background.png") no-repeat fixed 100%;
}
.parallax2{
  background: url("images/background2.png") repeat fixed 100%;
}
.parallax-inner{
  padding-top: 30%;
  padding-bottom: 30%;
}
.parallax-inner2{
  padding-top: 10%;
  padding-bottom: 10%;
}
/*Nav Bar*/
.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}
#nav-title{
  background-color: #B36950;
  padding: 10px;
  margin-bottom: 0;
  margin: 0;
  margin-left: -50px;
}
#nav-bar ul {
  display: flex;
  flex: 1;
}
#nav-bar li{
  list-style-type: none;
  text-align: center;
  flex: 1;
}
/*Dropdown Content*/
.dropdown-content{
  display: none;
  background-color: #DE9A60;
  margin: 0;
  position: absolute;
  margin-left: 10%;
}
.dropdown-content a:hover {
  color: white;
}
.download-btn:hover .dropdown-content{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.info-btn:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
/***************************************/
#readme-section, #video-section, #gallary-section, #about-section {
  background: #DE9A60;
  margin: 0;
  padding: 10px;
}
#video-div {
  display: flex;
  justify-content: center;
  height: 700px;
  padding: 10px;
}
#video {
  height: 100%;
  width: 90%;
}

/*gallery slideshow*/
body {
  box-sizing: border-box;
}
  .container {
  position: relative;
}
  .mySlides {
  display: none;
}
  .cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}  
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}  
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  padding: 2px 16px;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
/******************************/
a:hover{
  color: white;
}